<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blogselect</title>
    <link rel="stylesheet" href="/css/my.css">
    <style>

        /* 导航链接 */
        .login a {
            color: red;
            text-decoration: none;
        }

        /* 链接 - 修改颜色 */
        .login a:hover {
            color: black;
        }

    </style>
</head>
<body>
<h1 style="margin-left: 50px">对不起！您还未登录，请先登录然后再进行访问</h1>
<div style="margin-left: 50px " class="login">
    <a href="/login/loginAdminUi">管理员登录入口</a>
    <a href="/login/loginUserUi">用户登录入口</a>
</div>
<div>
    <img src="/img/error.jpg" style="width: 40%"; height="400px"/>
</div>
</body>
</html>